.home-button{
    margin-left: 30rem;
    margin-top: 10rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 21.22rem;
}

.berwick-button{
    padding: 5px 55px 5px 55px;
    text-decoration: none;
    background-color: #758bfd;
    color: white;
    border-radius: 8px;
}

.cranbourne-button{
    margin-left: 20px;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background-color: #758bfd;
    color: white;
    border-radius: 8px;
}

/* .preview-image{
    z-index: 1;
    position: relative;
    opacity: 60%;
}

.overlay-timelogo{
    z-index: 2;
    position: absolute;
    
} */

/* .image-container{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
} */

.preview-image{
    position: relative;
    z-index: 1;
}

.captionText{
    position: absolute;
    text-align: center;
    color: green;
    font: 1em;
    /* bottom: 5rem; */x: ;
    transform: translateY(-300%);
    z-index: 2;
    left: 12rem;
}