
.uploaded-file-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-preview{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-preview img{
    width: 25%;
    max-width: 500px;
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-left: 5rem;
}

.download-double-button{
    margin-left: 60rem;
}

.download-single-button{
    margin-left: 20rem;
}

.image-container textarea{
    margin-left: 5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}