*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.add-image-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    color: white;
    background-color: #28A745;
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 150%;
    cursor: pointer;
}

button:focus{
    border: none;
    outline: none;
}