*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CaptionFont";
    src: url('/src/fonts/DMSerifText.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DefaultFont";
    src: url('/src/fonts/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.upload-text{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 200%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 3em;
}

.uploadArea img{
    /* height: 55%; */
    width: 17%;
    margin-bottom: 3rem;
}

.uploadArea h3{
    font-size: 1.8em;
}

.image-upload-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.drop-area{
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    transition: border-color 0.3s;
    height: 55%;
    max-height: 500px;
    width: 90%;
    max-width: 900px;
}

#drop-area.dragging{
    border-color: #00f;
    background-color: #f0f8ff;
}

.uploadArea button{
    display: flex;
    color: white;
    background-color: #28A745;
    padding: 15px 45px 15px 45px;
    border-radius: 12px;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}

/* image rendering page */

.uploaded-file-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.sub-header{
    display: flex;
    flex-direction: row;
    gap: 50rem;
}

h2{
    font-size: 2em;
    margin-left: 10%;
    margin-top: 1rem;
}

.download-double-button{
    display: flex;
    flex-direction: row;
    padding: 17px 35px 17px 35px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #007BFF;
    gap: 0.5rem;
    margin: auto;
    font-size: 150%;
}

.file-preview{
    display: flex;
    background-color: #EEEEEE;
    align-items: center;
    margin: auto;
    padding-right: 270px;
    /* padding-left: 20%; */
    border-radius: 25px;
}

.preview-image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 5%;
    padding: 0;
}

.preview-image-container img{
    height: 23em;
    width: 13em;
    /* height: auto;
    width: 100%;
    max-width: 400px; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    gap: 2.8rem;
    color: white;
    margin-top: 2rem;
}

.image-container textarea{
    display: flex;
    align-items: flex-end;
    width: 123%;
    height: 100%;
    resize: none;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.download-double-button-icon, .download-icon, .preview-icon, .croped-icon{
    color: white;
    height: 1.3em;
    width: 1.3em;
}

.download-single-button{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    /* padding: 15px 50px 15px 50px; */
    padding: 2% 6%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.preview-btn{
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #EEEEEE;
    border-radius: 25px;
    /* padding: 15px 40px 15px 40px; */
    padding: 2% 5%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.crop-btn{
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #FFA726;
    border: none;
    border-radius: 25px;
    /* padding: 15px 37px 15px 37px; */
    padding: 2% 4%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 0.5em;
}

.image-container h1{
    font-size: 2em;
    margin-bottom: 3%;
}

.opacity-slider{
    background-color: #FFA726;
    padding: 2% 4%;
    border-radius: 25px;
    font-size: 1.1em;
    color: black;
}

.cranimage-dropdown{
    background-color: #007BFF;
    padding: 2% 4%;
    border-radius: 25px;
    font-size: 1.1em;
}

@media (max-width: 1354px){
    .uploaded-file-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
    }

    .sub-header{
        display: flex;
        flex-direction: row;
        gap: 7rem;
    }

   h2{
        font-size: 1.8em;
        margin-left: 10%;
        margin-top: 1rem;
    }

   .download-double-button{
        display: flex;
        flex-direction: row;
        padding: 17px 35px 17px 35px;
        border: none;
        border-radius: 25px;
        color: white;
        background-color: #007BFF;
        gap: 0.5rem;
        margin: auto;
        font-size: 130%;
    }

    .file-preview{
        display: flex;
        background-color: #EEEEEE;
        align-items: center;
        margin: auto;
        padding-right: 160px;
        border-radius: 25px;
    }

    .preview-image-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 5%;
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 0.5%;
        padding: 0;
    }

    .preview-image-container img{
        height: 14em;
        width: 8em;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .buttons{
        display: flex;
        gap: 2rem;
        color: white;
        margin-top: 1.5rem;
        font-size: 100%;
    }

    .image-container textarea{
        display: flex;
        align-items: flex-end;
        width: 110%;
        height: 100%;
        resize: none;
        padding: 80px;
    }

    .download-double-button-icon, .download-icon, .preview-icon, .croped-icon{
        color: white;
        height: 1em;
        width: 1em;
    }

    .download-single-button{
        display: flex;
        flex-direction: row;
        color: white;
        background-color: #007BFF;
        border: none;
        border-radius: 25px;
        padding: 2% 5%;
        gap: 0.5rem;
        font-size: 1em;
        cursor: pointer;
    }

    .preview-btn{
        display: flex;
        flex-direction: row;
        color: black;
        background-color: #EEEEEE;
        border-radius: 25px;
        padding: 2% 5%;
        gap: 0.5rem;
        font-size: 1em;
        cursor: pointer;
    }

    .crop-btn{
        display: flex;
        flex-direction: row;
        color: black;
        background-color: #FFA726;
        border: none;
        border-radius: 25px;
        padding: 2% 4%;
        gap: 0.5rem;
        font-size: 1em;
        cursor: pointer;
    }

    /*.image-container textarea{
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .image-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        padding-left: 3em;
    }

    .image-container h1{
        font-size: 2em;
        margin-bottom: 3%;
    }

    .opacity-slider{
        background-color: #FFA726;
        padding: 2% 4%;
        border-radius: 25px;
        font-size: 1.1em;
        color: black;
    } */
}

@media (max-width: 855px){
    .upload-text{
        margin-top: 4em;
        font-size: 400%;
    }

    .image-upload-container{
        height: 90vh;
    }

    .uploadArea{
        height: 40vh;
    }

    .uploadArea img{
        width: 25%;
    }

    .uploadArea h3{
        font-size: 2.5em;
    }

    .uploadArea button{
        font-size: 2.4em;
        padding: 2% 6%; 
    }
}

@media (max-width: 457px){
    .upload-text{
        font-size: 250%;
    }

    .image-upload-container{
        height: 62vh;
    }

    .uploadArea{
        height: 400%;
    }

    .uploadArea img{
        width: 25%;
    }

    .uploadArea h3{
        font-size: 2em;
    }

    .uploadArea button{
        font-size: 1.5em;
        padding: 2% 6%; 
    }
}