*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CaptionFont";
    src: url('/src/fonts/DMSerifText.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DefaultFont";
    src: url('/src/fonts/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.upload-text{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 200%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadArea img{
    height: 7%;
    width: 9%;
    margin-bottom: 3rem;
}

.uploadArea button{
    color: white;
    background-color: #28A745;
    padding: 10px 35px 10px 35px;
    border-radius: 12px;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}

/* image rendering page */

.uploaded-file-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.sub-header{
    display: flex;
    flex-direction: row;
    gap: 50rem;
}

h2{
    font-size: 2em;
    margin-left: 10%;
    margin-top: 1rem;
}

.download-double-button{
    display: flex;
    flex-direction: row;
    padding: 17px 35px 17px 35px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #007BFF;
    gap: 0.5rem;
    margin: auto;
    font-size: 150%;
}

.file-preview{
    display: flex;
    background-color: #EEEEEE;
    align-items: center;
    margin: auto;
    padding-right: 20%;
    border-radius: 25px;
}

.preview-image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

.preview-image-container img{
    height: 23em;
    width: 13em;
    /* height: auto;
    width: 100%;
    max-width: 400px; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    gap: 4rem;
    color: white;
    margin-top: 2rem;
}

.image-container textarea{
    display: flex;
    align-items: flex-end;
    /* width: 100%;
    height: 150px; */
    width: 100%;
    height: 100%;
    resize: none;
    padding: 80px;
}

.download-double-button-icon, .download-icon, .preview-icon, .croped-icon{
    color: white;
    height: 1.3em;
    width: 1.3em;
}

.download-single-button{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    /* padding: 15px 50px 15px 50px; */
    padding: 2% 6%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.preview-btn{
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
    border-radius: 25px;
    /* padding: 15px 40px 15px 40px; */
    padding: 2% 5%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.crop-btn{
    display: flex;
    flex-direction: row;
    background-color: #FFA726;
    border: none;
    border-radius: 25px;
    /* padding: 15px 37px 15px 37px; */
    padding: 2% 4%;
    gap: 0.5rem;
    font-size: 1.3em;
    cursor: pointer;
}

.image-container textarea{
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-left: 3em;
}

.image-container h1{
    font-size: 2em;
    margin-bottom: 3%;
}

.opacity-slider{
    background-color: #FFA726;
    padding: 2% 4%;
    border-radius: 25px;
    font-size: 1.1em;
    color: black;
}

@media (max-width: 1150px){
    .upload-text{
        margin-top: 8%;
        margin-bottom: 8%;
        margin-left: 9%;
    }

    .uploadArea img{
        height: 14%;
        width: 16%;
    }

    .image-container textarea{
        width: 60%;
    }


    /* .sub-header{
        gap: 25rem;
    }

    .file-preview{
        display: flex;
        align-items: center;
        margin: auto;
    }

    .preview-image-container img{
        margin: none;
    } */
}

@media (max-width: 465px){
    .upload-text{
        margin-top: 15%;
        margin-bottom: 17%;
    }

    .uploadArea img{
        height: 35%;
        width: 25%;
    }
}