*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CaptionFont";
    src: url('/src/fonts/DMSerifText.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DefaultFont";
    src: url('/src/fonts/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.upload-text h2{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    
}

.uploaded-file-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

h2{
    margin-top: 1rem;
    margin-left: 9rem;
}

.file-preview{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    background-color: #EEEEEE;
    align-items: center;
    margin-left: 145px;
    margin-right: 145px;
    border-radius: 25px;
}

.preview-image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 6rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0;
}

.preview-image-container img{
    height: 25rem;
    width: 15rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    gap: 4rem;
    color: white;
    margin-top: 2rem;
    color: white;
    align-items: flex-end;
}

.image-container textarea{
    display: flex;
    align-items: flex-end;
}

.download-double-button{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-left: 81rem;
    padding: 15px 10px 15px 10px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #007BFF;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.download-double-button-icon, .download-icon, .preview-icon, .croped-icon{
    color: white;
    height: 1rem;
    width: 1rem;
}

.download-single-button{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    padding: 13px 25px 13px 25px;
    gap: 0.5rem;
    cursor: pointer;
}

.preview-btn{
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
    border-radius: 25px;
    padding: 13px 25px 13px 25px;
    gap: 0.5rem;
    cursor: pointer;
}

.crop-btn{
    display: flex;
    flex-direction: row;
    background-color: #FFA726;
    border: none;
    border-radius: 25px;
    padding: 13px 25px 13px 25px;
    gap: 0.5rem;
    cursor: pointer;
}

.image-container textarea{
    margin-left: 5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.uploadArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 

.uploadArea img{
    height: 4rem;
    width: 6rem;
    margin-bottom: 3rem;
}

.uploadArea button{
    color: white;
    background-color: #28A745;
    padding: 10px 35px 10px 35px;
    border-radius: 12px;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
