*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slideshow-wrapper{
  margin-top: 1%;
}

.slide-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .controls {
    text-align: center;
  }

  .settings-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .duration-control{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .generate-btn.disable {
    background-color: gray;
    cursor: not-allowed;
  }

  .download-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  