*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.subberwick-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: visible;
    margin-top: 180px;
}

.subberwick-container h1{
    font-size: 4em;
}

.button-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin-right: 100%; */
    gap: 40px;
    margin-top: 2%;
    font-size: 180%;
}

.image-button{
    background-color: #BE4D1B;
    color: black;
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 25px;
}

.reels-button{
    background-color: #F5E9E5;
    color: black;
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 25px;
}

@media (max-width: 1500px){
    .subberwick-container{
        margin-top: 10%;
    }

    .subberwick-container h1{
        font-size: 600%;
    }

    .button-container{
        gap: 60px;
        margin-top: 4%;
        font-size: 300%;
    }
    
    .image-button{
        background-color: #BE4D1B;
        color: black;
        text-decoration: none;
        padding: 2% 8%;
        border-radius: 25px;
    }
    
    .reels-button{
        background-color: #F5E9E5;
        color: black;
        text-decoration: none;
        /* padding: 2% 8%; */
        border-radius: 25px;
    }
}

@media (max-width: 697px){

    .subberwick-container{
        margin-top: 30%;
    }

    .subberwick-container h1{
        font-size: 400%;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        /* margin-top: 4%; */
        font-size: 250%;
    }
    
    .image-button{
        background-color: #BE4D1B;
        color: black;
        text-decoration: none;
        padding: 4% 20%;
        border-radius: 25px;
    }
    
    .reels-button{
        background-color: #F5E9E5;
        color: black;
        text-decoration: none;
        padding: 4% 20%;
        border-radius: 25px;
    }
}